
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;

}

.picker {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.picker-card {
	max-width: 200px;
}

main {
	display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}

.nav-container {
	z-index: 1000;
  max-width: 1100px;
  margin: 0 auto;
}

.content-contain {
	max-width: 1100px;
	margin: 0 auto;
}

#about {
	margin-top: 2vh;
	padding-bottom: 2vh;
	border-bottom: 4px solid #0071C5;
}

#surface {
	margin-top: 1vh;
}

.logo {
	width: 5vw;
}

.main-nav {
	margin-top: 5px;
}

.logo a,
.main-nav a {
	padding: 2px 10px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: 1em;
  font-weight: bold;
}

.main-nav a:hover {
	color: #718daa;
}



.nav {
	z-index: 1000;
	display: block;
	padding-top: .5em;
	padding-bottom: .5em;
  background-color: white;
}

.nav-contents {
  flex-direction: column;
}

#search-bar {
  width: 97%;
  height: 3em;
  padding: 6px;
  border: none;
}

#search-button {
  width: 3em;
  height: 3em;
  background: #4d4e53;
}

#search-icon {
  color: white;
}

#ms-logo {
	width: 8vw;
	margin-bottom: 1vh;
}

.form-wrapper {
  width: 100%;
  display:flex;
  flex-direction:row;
  border: 3px solid rgb(230,230,230);
}

.hero {
  background-image: url(img/surface2.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 40vh;
  display: flex;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 11vw;
	margin-top: 11vh;
	color: white;
}

.button {
	margin-top: 2em;
	width: 18em;
  text-transform: uppercase;
  color: white;
  padding: 20px;
  border: 1px solid white;
  text-decoration: none;
	background-color: rgb(204, 0, 0);
	cursor: pointer;
  display: inline-block;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  padding: 8px 20px;
}



/* =================================
  Media Queries
==================================== */




@media (min-width: 769px) {
	.nav,
	.main-nav {
		display: flex;
	}
	.nav {
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 769px) {
	.logo{
		width: 15vw;
		align-self: center;
	}
}


@media (min-width: 1025px) {
	.nav {
		flex-direction: row;
		justify-content: center;
	}

}
